.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 ;
    background-color: #6078CF;
    color:#FFFFFF;
    border-radius: 50px 0px;
}

.logo {
    width: 100px;
}

.item-lista {
    display: inline-block;
    font-size:24px;
    margin: 0 26px;
}

.livros {
    background-image: linear-gradient(#4C49E0 0%, #4C49E0 52.78%);
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.livros-conteudo {
    width: 35%;
}

.titulo-section {
    width: 796px;
    left: 128px;
    top: 242px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.texto-section {
    width: 923px;
    height: 99px;
    left: 128px;
    top: 382px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.olarubi-imagem {
    width: 319px;
    height: 366px;
    left: 1068px;
    top: 258px
}